extends ../layout.pug
block content 
    h1=post.title
    p=post.content
    br
    p Author is.. 
    a(href=`/users/${user.id}`)=user.username

    //like
    p #{likers.length} likes this post!
    form(method='post', action=`/posts/${post.id}/like`)
        if isLiker
            input(type='submit', value='Unlike')
        else 
            input(type='submit', value='Like')

    h2 #{comments.length} comments
    each comment in comments
        p=comment.content 
        p=comment.like_count
        //p=comment.created_at
        //p=comment.UserId
        form(method='post', action=`/comments/${comment.id}/like`)
            input(type='submit', value='Comment Like')
        form(method='post', action=`/comments/${comment.id}/?_method=PATCH`)
            input(type='submit', value='Delete')

    form(method='post', action=`/comments`)
        textarea(type='text', name='content', placeholder="Write a nice commment...")
        input(type='hidden', name='PostId', value=`${post.id}`)
        input(type='submit', value='Add Comment')

    nav 
        a(href='/posts') Back
        a(href=`/posts/${post.id}/edit`) Edit
        form(method='post', action=`/posts/${post.id}/?_method=PATCH`)
            input(type='submit', value='Delete')