extends ../layout.pug
block content 
    h1=post.title
    p=post.content
    br
    p Author is..
    a(href=`/users/${user.id}`)=user.username

    nav 
        a(href='/posts') Back
        a(href=`/posts/${post.id}/edit`) Edit
        form(method='post', action=`/posts/${post.id}/?_method=PATCH`)
            input(type='submit', value='Delete')